# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
venv/
env/

# Ignore large dataset files
*.csv
*.tsv
*.xls
*.xlsx
*.json
*.parquet

# Ignore log files
*.log

# Ignore OS files
.DS_Store
Thumbs.db

